.Photo {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
}

.BoundingBox {
  position: absolute;
  box-shadow: 0 0 0 3px rgb(20, 157, 242) inset;
  display: block;
  flex-wrap: wrap;
  margin: auto;
  cursor: pointer;
  z-index: 500;
}

.BoundingBox:hover {
  background: rgba(20, 157, 242, 0.25)
}