.navbar {
    box-shadow: 1px 3px 2px #1e3c72;
    padding: 0px;
    margin-bottom: 15px;
}

.brand {
    cursor: pointer;
}

.navitem {
    margin-right: 10px;
    cursor: pointer;
    color: #007bff;
}