h1,
h4 {
    font-family: 'Gugi', cursive;
    letter-spacing: 10px;
    color: #149df2;
    text-shadow: 1px 1px 1px #1e3c72, 2px 2px 1px white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

h6 {
    color: #FFD200;
    text-shadow: 1px 6px 1px #1e3c72;
    text-transform: uppercase;
}

hr {
    background-color: #1e3c72;
    width: 90%;
}

.photo {
    width: 500px;
    height: auto;
    margin: auto;
    position: relative;
}

#inputImage {
    width: 500px;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: block;
    flex-wrap: wrap;
    margin: auto;
    cursor: pointer;
}

.bounding-box:hover {
    border: 1px solid green;
}

.demoInfo {
    display: block;
    width: 500px;
    min-width: 150px;
    margin: 10px auto;
    padding: 10px;
}

.demoInfo ul {
    list-style: none;
    padding: 0px;
    border: solid 1px #149df2;
    border-radius: 5px;
    width: 100%;
    color: #1e3c72;
    background-color: rgb(173, 216, 230, 0.5);
}

.demoInfo ul li {
    color: #1e3c72;
    display: block;
    margin: auto;
    text-align: center;
}

li span {
    color: #FFD200;
    letter-spacing: 1px;
    border: solid 1px #149df2;
    background-color: #1e3c72;
    border-radius: 5px;
    display: block;
    padding: 3px;
    margin: auto;
    padding: 5px;
    width: 80%;
}

ul p {
    color: aquamarine;
    font-size: smaller;
    text-align: center;
    background-color: #1e3c72;
    margin: 4px auto;
    height: 37px;
    width: 37px;
    line-height: 38px;
    border: #149df2 1px solid;
    border-radius: 50%;
}

.secondaryInfo span {
    background-color: grey;
    color: #1e3c72;
    border: 1px solid #1e3c72;
}

.secondaryInfo p {
    background: lightgrey;
    color: #1e3c72;
    border: 1px solid #1e3c72;
}

@media (max-width: 500px) {
    .photo, #inputImage, .demoInfo {
      width: 320px;
    }
  }