/* .header {
    margin: 0px 0px 10px 0px;
} */

/* 
.jumbotron {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(173, 216, 230, 0.5);
    border: 3px solid #1e3c72;
    border-radius: 10px;
    color: #1e3c72;
    padding: 20px;
} */

.inputField {
    background: #1e3c72;
    color: #FFD200;
    font-weight: bold;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #F7971E;
    border-radius: 15px;
    display: block;
}

hr {
    background-color: #1e3c72;
    width: 90%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.detectButton {
    background: #F7971E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 70%;
    transition: ease-in-out 0.5s;
}

.detectButton:hover {
    background: aquamarine;
    transform: scale(1.01);
}

.resetButton {
    background: lightgrey;
    color: #1e3c72;
    border: 2px solid #1e3c72;
    width: 20%;
    min-width: 100px;
}

.resetButton:hover {
    background: cadetblue;
}

.detectButton,
.resetButton {
    font-family: 'Josefin Sans', sans-serif;
    color: #1e3c72;
    display: inline-block;
    margin: 10px;
    border: 2px solid #1e3c72;
    font-weight: bold;
    outline: none;
    padding: 10px;
    border-radius: 15px;
}